<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <title> Sticky Navigation Bar | CodingLab </title> 
    <link rel="stylesheet" href="css/style.css">
   </head>
<body>
  <nav class="sticky">
    <div class="nav-content">
      <div class="logo">
        <a href="#">Role Base Authentication.</a>
      </div>
      <ul class="nav-links">
        <li><a th:href="@{/index}">Home</a></li>
        <li><a th:href="@{/register}">Register</a></li>
        <li><a th:href="@{/users}">Users</a></li>
		<li><a th:href="@{/userPermission}">Users and Permission</a></li>
        <li><a th:href="@{/logout}">Log Out</a></li>
      </ul>
    </div>
  </nav>
  <section class="home"></section>
 
</body>
</html>